spring:
  application:
    name: market

  jackson:
    property-naming-strategy: SNAKE_CASE

  datasource:
    url: jdbc:mysql://localhost:3306/daangn
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
#    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false

    open-in-view: false
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.daangn.market.dto, com.daangn.market.domain
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    jdbc-type-for-null: 'NULL'


